<div class="sidebar">
  <h2>카테고리</h2>
  <ul>
    <!-- 프로젝트 카테고리 -->
    <li>
      <a href="javascript:void(0)" onclick="toggleSubcategories('project')">프로젝트</a>
      <ul id="project" style="display: none;">
        {% assign project_files = site.pages | where_exp: "page", "page.path contains '/project/'" %}
        {% for page in project_files %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    </li>

    <!-- 기술 고민 카테고리 -->
    <li>
      <a href="javascript:void(0)" onclick="toggleSubcategories('tech')">기술 고민</a>
      <ul id="tech" style="display: none;">
        {% assign tech_files = site.pages | where_exp: "page", "page.path contains '/tech/'" %}
        {% for page in tech_files %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    </li>

    <!-- 잡 고민 카테고리 -->
    <li>
      <a href="javascript:void(0)" onclick="toggleSubcategories('job')">잡 고민</a>
      <ul id="job" style="display: none;">
        {% assign job_files = site.pages | where_exp: "page", "page.path contains '/job/'" %}
        {% for page in job_files %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
