<div class="sidebar">
  <h2>카테고리</h2>
  <ul>
    {% assign categories = site.static_files | where: "path", "/_project" %}
    <li>
      <a href="javascript:void(0)" onclick="toggleSubcategories('project')">프로젝트</a>
      <ul id="project" style="display: none;">
        {% for file in categories %}
          <li><a href="{{ file.path | relative_url }}">{{ file.name | remove: '.html' }}</a></li>
        {% endfor %}
      </ul>
    </li>
    
    {% assign categories = site.static_files | where: "path", "/_tech" %}
    <li>
      <a href="javascript:void(0)" onclick="toggleSubcategories('tech')">기술 고민</a>
      <ul id="tech" style="display: none;">
        {% for file in categories %}
          <li><a href="{{ file.path | relative_url }}">{{ file.name | remove: '.html' }}</a></li>
        {% endfor %}
      </ul>
    </li>

    {% assign categories = site.static_files | where: "path", "/_job" %}
    <li>
      <a href="javascript:void(0)" onclick="toggleSubcategories('job')">잡 고민</a>
      <ul id="job" style="display: none;">
        {% for file in categories %}
          <li><a href="{{ file.path | relative_url }}">{{ file.name | remove: '.html' }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>

<script>
  function toggleSubcategories(categoryId) {
    var element = document.getElementById(categoryId);
    element.style.display = (element.style.display === 'none') ? 'block' : 'none';
  }
</script>
