.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  overflow-y: auto;
  background-color: #f7f7f7;
  padding: 20px;
}

main {
  margin-left: 220px; /* 사이드바 너비 만큼 여백을 둠 */
  padding: 20px;
}
