<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: "기술 블로그" }}</title>
  <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
</head>
<body>
  {% include sidebar.html %} <!-- 사이드바를 포함합니다. -->
  <div class="content">
    {{ content }}
  </div>

  <script>
    function toggleSubcategories(id) {
      var dropdown = document.getElementById(id);
      dropdown.style.display = dropdown.style.display === "none" ? "block" : "none";
    }
  </script>
</body>
</html>
